@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --fonte1:'Inter', sans-serif;
    --fonte2: Arial, Helvetica, sans-serif;
}

.header-desconto {
    display: flex;
    justify-content: center;
}

.header-desconto img {
    display: flex;
    width: 0.8vw;
    height: 0.8vw;
    align-items: center;
}

.header-desconto p {
    display: flex;
    font-size: 0.7vw;
    align-items: center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte1);
}

body{
    height: 100vh;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    transition: 0.2s;
}

a:hover {
    color:#FFF
}

header {
    position: relative;
    padding: 0 2rem;
    background-color: #40E3FF;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-button {
    background-color: #D1A87D;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor:pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #FFF;
}

.action-button:active {
    scale: 0.95;
}

.logo a img {
    width: 90px;
    transition: 0.5s;
}

.logo a img:hover {
    scale:1.05;
}

.logo a img:active {
    scale: 0.95
}

.dropdown_menu {
    display: none;
    z-index: 9999;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: #C0F6FF;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
    position: absolute;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .navbar .links,
    .navbar .action-button {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    .header-desconto p{
        font-size: 2vw;
    }
    .header-desconto img {
        width: 2.1vw;
        height: 2.1vw;
    }
}

@media (max-width: 400px) { 
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}