@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root {
    --fonte1:'Inter', sans-serif;
    --fonte2: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    font-family: var(--fonte1);
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #00D9FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-login{
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login h1{
    color: black;
    font-weight: 800;
    margin: 0;
}

.textField{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;

}

.textField input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: darkcyan;
    color: black;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box ;
}

.textField label{
    color: gray;
    margin-bottom: 10px;
}

.textField input::placeholder{
    color: cadetblue;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: blue;
    cursor: pointer;
    box-shadow: 0px 10px 40px #00000056;
    transition: background-color 0.5s ease;
    
}

.btn-login:hover{
    background-color: blue;
    color: whitesmoke;
}

@media screen and (max-width: 300px) {
    .left-login{
        display: none;
    }
}

@media screen and (max-width: 200px){
    body{
        background-color: #00D9FF
    }
    .card-login{
        display: none;
    }
}