header{
    background: #07BEB8;
    height: 60px;
    
}

.logo-login {
    margin-left: 25px;
    height: 60px;
    display: flex;
    align-items: center;
}

footer{
    background: #07BEB8;
    height: 60px;
    margin: auto;
}

main{
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    display: flex;
    align-items: center;
    position: fixed;
    left: 20px;
}

.game{
    width: 600px;
    height: 451px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #000;
    border-radius: 5px;
}

.progressbar{
    width: 550px;
    height: 22px;
    display: flex;  
    align-items: center;
    border-radius: 4px;
}

.progress{
    width: 100px;
    height: 20px;
    margin: 5px;
    border-radius: 4px;
}

.right{
    background: #07BEB8;
    transition: 0.4s ease-in-out;
}

.wrong{
    background-color: #f4091a;
    transition: 0.4s ease-in-out;
}

.ask{
    width: 400px;
    text-align: center;
    text-wrap: wrap;
}

.answer{
    width: 500px;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.res{
    width: 122px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border: 2px solid #07BEB8;
    border-radius: 22px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.res:hover{
    transition: 0.2s ease-in-out;
    background-color: #07BEB8;
}