.perfil-main {
    
    border-radius: 15px;
    width: calc(100vw - 355px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil {
    height: 80vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name-user {
    margin-top: 5px;
    font-size: 30px;
}

body {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

#principal {
    display: flex;
    flex-direction: row;
}

.XP {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}

.XP span{
    color: #07BEB8;
    
}

.fase-user {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.module-one-user, .module-two-user, .module-three-user {
    width: 270px;
    height: 270px;
    border: solid 2px #07BEB8;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fases-complet-user {
    display: flex;
}

#fases-complet-user-img {
    border-radius: 100%;
}

#name-lesson-user {
    font-size:20px;
    font-weight: 300;
    margin-left: 10px;
}

#descricao-user {
    font-size:15px;
    font-weight: 200;
    margin-left: 10px;
}

/* sidebar*/
.sidebar{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid rgba(0, 0, 0, 0.15);
    left: 0;
}

.sidebar-locate{
    width: 150px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidebar-learn,.sidebar-statistics,.sidebar-friends,.sidebar-profile{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar-square{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    background: rgba(7, 190, 184, 0.20);
    border-radius: 10px;
    border: 2px solid #07BEB8;
}

.sidebar-square svg{
    position: relative;
    left: 8px;
}

.sidebar-friends .sidebar-square svg{
    position: relative;
    left: 5px;
}

.on-locate{
    animation: on 0.5s ease-in-out;
    width: 150px;
    margin-right: -100px; 
    transition-delay: 0.5s;
}

.off-locate{
    animation: off 0.5s ease-in-out;
}

@keyframes on {
    0%{
        width: 40px;
        margin-right: 0;    
    }
    100%{
        width: 150px;
        margin-right: -100px; 
    }
}

@keyframes off {
    0%{
        width: 150px;
        margin-right: -100px; 
    }
    100%{
        width: 40px;
        margin-right: 0;    
    }
}