*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Ballo';
    src: url('../Fonts/Baloo-Regular.ttf');
}

body{
    font-family: 'Ballo';
}

a{
    text-decoration: none;
    color: #ffffff;
}

.none{
    display: none;
}

